body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
}

.button-container {
    margin-top: 20px;
}

.button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 10px; /* 더 둥글게 */
    cursor: pointer;
    color: white;
    background-color: #6a5acd; /* 기본 색상 */
    transition: all 0.3s ease; /* 모든 속성에 부드러운 전환 적용 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 입체감 추가 */
}

.korean { background-color: #ff7f50; }
.chinese { background-color: #ff6347; }
.western { background-color: #6a5acd; }
.japanese { background-color: #9370db; }
.back { background-color: #4682b4; }
.recommend { background-color: #32cd32; }

.button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 마우스 오버 시 그림자 효과 강화 */
    transform: translateY(-2px); /* 마우스 오버 시 약간 위로 이동 */
    opacity: 0.9; /* 투명도 조정 */
}

.results {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.map {
    width: 80%;
    height: 400px;
    margin: 20px auto;
}

.hidden {
    display: none;
}

.info {
    text-align: left;
    margin: 20px;
}

.info-map {
    width: 400px;
    height: 400px;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
