body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
}

.button-container {
    margin-top: 20px;
}

.button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 10px; /* 둥근 모서리 */
    cursor: pointer;
    color: white;
    background-color: #6a5acd; /* 기본 색상 */
    position: relative; /* 포지션 설정 */
    overflow: hidden; /* 자식 요소가 부모를 넘지 않도록 설정 */
    transition: transform 0.2s; /* 변환 효과 */
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2); /* 버튼 상단에 흰색 반투명 레이어 추가 */
    transform: translateY(-20px); /* 위쪽으로 약간 이동 */
    transition: transform 0.2s; /* 변환 효과 */
    border-radius: 10px; /* 둥근 모서리 */
}

.korean { background-color: #ff7f50; }
.chinese { background-color: #ff6347; }
.western { background-color: #6a5acd; }
.japanese { background-color: #9370db; }
.back { background-color: #4682b4; }
.recommend { background-color: #32cd32; }

.button:hover::before {
    transform: translateY(0); /* 마우스 오버 시 레이어가 원래 위치로 돌아옴 */
}

.button:hover {
    transform: translateY(4px); /* 마우스 오버 시 버튼이 아래로 이동 */
}

.button:active {
    transform: translateY(2px); /* 클릭 시 버튼이 살짝 더 아래로 이동 */
}


.results {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.map {
    width: 80%;
    height: 400px;
    margin: 20px auto;
}

.hidden {
    display: none;
}

.info {
    text-align: left;
    margin: 20px;
}

.info-map {
    width: 400px;
    height: 400px;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
